html ,body{
  margin: 0px;
}
.ex{
  list-style-type: circle;
}
.ex-box-03 > ul{
  list-style-type: square;
}
.ex-box-01{
  width: 200px;
  height: 90px;
  background-color: white;
  box-shadow: -3px 3px 5px -5px gray;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.ex-box-02{
  width: 230px;
  height: 210px;
  background-color: white;
  box-shadow: -3px 3px 5px -5px gray;
  border-radius: 15px;
}
.ex-box-03{
  width: 360px;
  height: 130px;
  background-color: white;
  box-shadow: -3px 3px 5px -5px gray;
  border-radius: 15px;
}